<!DOCTYPE html>
<html>

<head>
   <title>Survey</title>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.css" />
   <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    
</head>

<body>
<div style="width:70%; margin:0 auto; padding:5rem;">
<form id="survey2" class="survey2"  method="post" name="myForm" action="/finalFormSubmit/<%= mainData[0].userID%>">

    <h4>You just tried to accurately estimate the time it took to complete this task. But, how many minutes did it <strong>feel</strong> like?</h4>
        <input required autofocus type="number" width="50px;" step=".5" min="0" max="100" class="col-2 form-control" id="timeFeelEstimate" name="timeFeelEstimate" placeholder="Minutes">
    <br>
    <br>

    <h4>How quickly did the time seem to pass for you during the tasks?</h4>            
            <div class="range">
            <input type="range" step="1" min="1" max="5" value="1" class="slider" id="timeFeel" name="timeFeel">
                    <div class="sliderticks">
                        <p>Very Slowly</p>
                        <p>2</p>
                        <p>3</p>
                        <p>4</p>
                        <p>Very Quickly</p>
                        
                    </div>
            </div><br>
            
            <br>
            <br>

            <h4>How much pressure did you feel to answer the questions quickly?</h4>
                <div class="range">
                <input type="range" step="1" min="1" max="5" value="1" class="slider" id="timePressure" name="timePressure">
                    <div class="sliderticks">
                        <p>No Pressure</p>
                        <p>2</p>
                        <p>3</p>
                        <p>4</p>
                        <p>Extreme Pressure</p>
                        
                    </div>
                </div><br><br><br>

                <h4>At what point in the experiment did you lose interest in the tasks??</h4>
                <div class="range">
                <input type="range" step="25" min="0" max="100" value="0" class="slider" id="lostInterest" name="lostInterest">
                    <div class="sliderticks">
                        <p>Never interested</p>
                        <p>25%</p>
                        <p>50%</p>
                        <p>75%</p>
                        <p>Always interested</p>
                        
                    </div>
                </div><br><br><br>
           
            <div style = "margin:0 auto; border: 1px solid grey; padding: 75px;">
                <h3>
                    To what extent do you feel the task…
                </h3>
                <br>
                <h4>kept you aware of the time passing:</h4>
                <div class="range">
                <input type="range" step="1" min="1" max="5" value="1" class="slider" id="timeAwareness" name="timeAwareness">
                    <div class="sliderticks">
                        <p>Completely Unaware</p>
                        <p>2</p>
                        <p>3</p>
                        <p>4</p>
                        <p>Very Aware</p>
            
                    </div>
                </div>
                <br>
        
                <h4>kept you engaged in the current task:</h4>
                <div class="range">
                <input type="range" step="1" min="1" max="5" value="1" class="slider" id="engaging" name="engaging">
                    <div class="sliderticks">
                        <p>Unengaged</p>
                        <p>2</p>
                        <p>3</p>
                        <p>4</p>
                        <p>Very Engaged</p>
                        
                    </div>
                </div>
                <br>

                <h4>provided a motivating experience:</h4>
                <div class="range">
                <input type="range" step="1" min="1" max="5" value="1" class="slider" id="motivating" name="motivating">
                    <div class="sliderticks">
                        <p>Not motivating</p>
                        <p>2</p>
                        <p>3</p>
                        <p>4</p>
                        <p>Highly motivating</p>
                        
                    </div>
                </div>
                <br>

                <h4>was habit forming, or repetitive, to the point of automatic behavior:</h4>
                <div class="range">
                <input type="range" step="1" min="1" max="5" value="1" class="slider" id="repetitive" name="repetitive">
                    <div class="sliderticks">
                        <p>Not repetitive</p>
                        <p>2</p>
                        <p>3</p>
                        <p>4</p>
                        <p>Extremly repetitive</p>
                    </div>
                </div>
            </div>
            <br>
            <br>

    <h4>How distracted were you during the tasks? </h4>
    <div class="range">
    <input type="range" step="1" min="1" max="5" value="1" class="slider" id="distraction" name="distraction">
        <div class="sliderticks">
            <p>Very focused</p>
            <p>2</p>
            <p>3</p>
            <p>4</p>
            <p>Very Distracted</p>
           
        </div>
    </div>
    <br><br><br>

<h4>Please rate your general emotional state throughout the tasks as being very negative (sad, angry, or highly stressed) or very positive (happy, joyful, pleasant): </h4>
<div class="range">
<input type="range" step="1" min="1" max="5" value="1" class="slider" id="emotion" name="emotion">
    <div class="sliderticks">
        <p>Very Negative</p>
        <p>2</p>
        <p>3</p>
        <p>4</p>
        <p>Very Positive</p>
       
    </div>
</div>
<br><br><br>

<div style = "margin:0 auto; border: 1px solid grey; padding: 75px;">
    <h4>You only need to answer these if you were asked to listen to music selections:</h4><br><br>
    <div id="musicQuestion">
        <h4>Please rate how the music played throughout the tasks affected you emotionally.</h4>
        <div class="range">
        <input type="range" step="1" min="1" max="5" value="1" class="slider" id="musicAffect" name="musicAffect">
            <div class="sliderticks">
                <p>Very Negatively</p>
                <p>2</p>
                <p>3</p>
                <p>4</p>
                <p>Very Positively</p>
            </div>
        </div>
        <br><br>
    </div>
    <div id="volumeQuestion">
        <h4>How loud did you feel the music was?</h4>            
        <input type="radio" id="volume" name="volume" value="1"> Too quiet<br>
        <input type="radio" id="volume" name="volume" value="2"> Fairly quiet<br>
        <input type="radio" id="volume" name="volume" value="3"> Normal<br>
        <input type="radio" id="volume" name="volume" value="4"> Fairly loud<br>
        <input type="radio" id="volume" name="volume" value="5"> Too Loud<br>
   
    </div>

</div>
<br><br>

<div id="enjoyment">
    <h4>How much did you enjoy completing the tasks?</h4>
    <div class="range">
    <input type="range" step="1" min="1" max="5" value="1" class="slider" id="enjoyment" name="enjoyment">
        <div class="sliderticks">
            <p>Very little</p>
            <p>2</p>
            <p>3</p>
            <p>4</p>
            <p>Very much</p>
        </div>
    </div>
 
</div>
<br><br><br>

<h4>How much anxiety did you experience while completing the tasks?</h4>            
<div class="range">
    <input type="range" step="1" min="1" max="5" value="1" class="slider" id="anxiety" name="anxiety">
        <div class="sliderticks">
            <p>None</p>
            <p>2</p>
            <p>3</p>
            <p>4</p>
            <p>Extreme Anxiety</p>
        </div>
    </div>

<br><br><br>

<div id="challenge">
    <h4>How challenging did you find the tasks?</h4>
    <div class="range">
    <input type="range" step="1" min="1" max="5" value="1" class="slider" id="challenge" name="challenge">
        <div class="sliderticks">
            <p>Not challenging</p>
            <p>2</p>
            <p>3</p>
            <p>4</p>
            <p>Very challenging</p>
        </div>
    </div>
    
</div>
<br><br><br>

<div id="comfort">
    <h4>How physically comfortable were you during the experiment (tempurature, sitting position, lighting)?</h4>
    <div class="range">
    <input type="range" step="1" min="1" max="5" value="1" class="slider" id="comfort" name="comfort">
        <div class="sliderticks">
            <p>Very uncomfortable</p>
            <p>2</p>
            <p>3</p>
            <p>4</p>
            <p>Very comfortable</p>
        </div>
    </div>
    
</div>
<br><br><br>

<div id="recentExp">
    <h4>Over the past three months, how frequently have you engaged in tasks similar to the ones you just completed for this study?</h4>
    <div class="range">
    <input type="range" step="1" min="1" max="5" value="1" class="slider" id="recentExp" name="recentExp">
        <div class="sliderticks">
            <p>Never</p>
            <p>2</p>
            <p>3</p>
            <p>4</p>
            <p>Daily</p>
        </div>
    </div>
    
</div>
<br><br><br>




<label>Please indicate your relationship status.</label>
<br>
<label class="labelSpecial">
    <input required type="radio" name="maritalStatus" id="maritalStatus" value="relationship"> In a relationship
</label>           

<label class="labelSpecial">
    <input required type="radio" name="maritalStatus" id="maritalStatus2" value="not"> Not in a relationship
</label>
<br><br><br>


<label>Please indicate your gender.</label>
<br>
<label for="gender1" class="labelSpecial">
    <input required type="radio" name="gender" id="gender1" value="male"> Male
</label>           

<label for="gender2" class="labelSpecial">
    <input required type="radio" name="gender" id="gender2" value="female"> Female
</label>
<label for="gender3" class="labelSpecial">
        <input required type="radio" name="gender" id="gender3" value="other"> Other
</label>

<br><br>
<br>

<label>Please indicate your education in number of years (including primary and secondary):</label>
<br>
<input required type="number" class="col-2 form-control" id="educationLevel" name="educationLevel">
<!--<select id="educationLevel" class="col-4 custom-select mr-sm-2" name="educationLevel">
    <option value="" selected="selected" disabled="disabled">-- select one --</option>
    <option value="No formal education">No formal education</option>
    <option value="Primary education">Primary education</option>
    <option value="Secondary education">Secondary education or high school</option>
    <option value="GED">GED</option>
    <option value="Vocational qualification">Vocational qualification</option>
    <option value="Bachelor's degree">Bachelor's degree</option>
    <option value="Master's degree">Master's degree</option>
    <option value="Doctorate or higher">Doctorate or higher</option>
    </select>-->
<br>

<label>Please indicate your age:</label>
<br>
<input  required type="number" class="col-2 form-control" id="age" name="age">
<br>


<label>Your session will be used to help us eliminate any problems in the website
    before official testing. The website is not intended to be confusing
    or difficult to use. If you experienced problems with the tasks or were confused by 
    the survey, please write your feedback below: 
</label>
<textarea id="feedback" rows="4" cols="50" placeholder="Feedback" maxlength="250"></textarea>
<br><br>

<label>Input your BYU NetID (example: jordan23):</label>
<input required type="text" class="col-2 form-control" id="byuID" name="byuID">

<button type="submit" class="btn btn-primary btn-lg" style="float: right;" value="Submit">Submit</button><br>
        
</form>
</div>
<link rel="stylesheet" href="/Content/style.css">
</body>
</html>