<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Instructions</title>
    <style>
    body{
        font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
            color:#4a4a4a;
            font-weight: 400;
            background-color: white;    }
    .mybutton {
    background-color: #e7e7e7; 
    color: black;    
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    }
.mybutton:hover {
    background-color:#d3d3d3;
}
.mybutton:active{
    background-color: white;
}

    </style>
</head>
<body style="margin-top: 50px;">

        <div id="iMain" style="width:60%; margin:0 auto;" >
                <h1 style="text-align: center;">Instructions</h1><br>
                <h4>Please move to an area where you will not be distracted from answering the questions.</h2><br>
                <p>
                    The following experiment will require you to answer several captcha-like questions.
                     Once you click start please
                    <u>do not refresh the page or press the "back" button at any point,</u> doing so will damage experiment accuracy. 
                     <br><br>Your privacy will be maintained and your responses will be kept anonymous, so please answer all of the questions to the best of your ability.
                    Answers will be monitored and checked for accuracy. 
                    <br><br>At a certain point in the experiment the questions will stop and you will be automatically
                    redirected to a survey. Again, your privacy will be maintained, so please answer the survey questions honestly.
                    <br><br>
                    When you are ready to begin performing the tasks, press 'Start'.
                    
                </p>
                <br>
            <form id="survey1" class="survey1" action="/captchaStart" method="post"  name="myForm">
                <input style='float:right;' type="submit" class="btn btn-primary btn-lg" id="start" value="Start">
            </form> 
        </div>
        <script>
            //verify adequate screen size
            if(window.innerWidth < 700)
            {
                document.getElementById("iMain").innerHTML = "Please use a monitor or laptop screen to complete this experiment. " 
                 + "Tablets and phones will not work. <br><br> If you are using a laptop, try maximizing your screen size and refreshing the page.";
            }
        </script>
</body>
</html>