<!DOCTYPE html>
<html>

<head>
   <title>Survey</title>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.css" />
   <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
</head>

<body>
<div id="mainStyle">
    <p>User ID:</p>
    <p id='storeUID'><%= mainData[0].userID %></p>
    
    <div id="musicPlayerDiv" style="display: none;">
        
        <audio id="myAudio1"><source src="/songs/acousticMain.mp3" type="audio/mpeg"></audio>
        <audio id="myAudio2"><source src="/songs/sadMain.mp3" type="audio/mpeg"></audio>
        <audio id="myAudio3"><source src="/songs/cinematicMain.mp3" type="audio/mpeg"></audio>
        <audio id="myAudio4"><source src="/songs/electroMain.mp3" type="audio/mpeg"></audio>
        <audio id="myAudio5"><source src="/songs/somberMain.mp3" type="audio/mpeg"></audio>

        <div style="width:70%; margin:0 auto;">
            <h2>Audio Sampler</h2>
            <h4><strong>Stop! Put on earphones or move to a room where you can hear music without distraction. You will be listening to songs while carrying out your version of the experiment.</strong></h4>
            <p>This page contains samples of different styles of music. The music is instrumental. Play each sample and rate the songs based on how they make you feel, indicating whether they <strong>improve your mood (negative),</strong> or <strong>detract from it (positive).</strong>
                  After you have rated all of the song samples,
                please press "Begin." Music will play throughout your experiment so you will need to be able to continue listening. 
            </p><br>
            <p>Click the buttons to play the audio.</p>
            <br>
            <h3>Sample 1</h3>
            <form id="musicLibrary">
                
                <audio controls>
                    <source src="/songs/acousticSample.mp3" type="audio/mpeg">
                  Your browser does not support the audio element.
                  </audio>
                <br><br>
                <p style="float:left;">Negative</p><p style="float:right;">Positive</p>
                <div class="range">
                        <input type="range" step="1" min="0" max="10" value="0" class="slider" id="audio1" name="audio1">
                        <div class="sliderticks">
                            <p>0</p><p>1</p><p>2</p><p>3</p><p>4</p><p>5</p><p>6</p><p>7</p><p>8</p><p>9</p><p>10</p>
                        </div>
                </div><br><br>
                <h3>Sample 2</h3>
                <audio controls>
                    <source src="/songs/sadSample.mp3" type="audio/mpeg">
                  Your browser does not support the audio element.
                  </audio>
                  <br><br>
                <p style="float:left;">Very Sad</p><p style="float:right;">Very Happy</p>
                <div class="range">
                        <input type="range" step="1" min="0" max="10" value="0" class="slider" id="audio2" name="audio2">
                        <div class="sliderticks">
                            <p>0</p><p>1</p><p>2</p><p>3</p><p>4</p><p>5</p><p>6</p><p>7</p><p>8</p><p>9</p><p>10</p>
                        </div>
                </div><br><br>
                <h3>Sample 3</h3>
                <audio controls>
                    <source src="/songs/cinematicSample.mp3" type="audio/mpeg">
                  Your browser does not support the audio element.
                  </audio>
                  <br><br>
                <p style="float:left;">Very Sad</p><p style="float:right;">Very Happy</p>
                <div class="range">
                        <input type="range" step="1" min="0" max="10" value="0" class="slider" id="audio3" name="audio3">
                        <div class="sliderticks">
                            <p>0</p><p>1</p><p>2</p><p>3</p><p>4</p><p>5</p><p>6</p><p>7</p><p>8</p><p>9</p><p>10</p>
                        </div>
                </div><br><br>
                <h3>Sample 4</h3>
                <audio controls>
                    <source src="/songs/electroSample.mp3" type="audio/mpeg">
                  Your browser does not support the audio element.
                  </audio>
                  <br><br>
                <p style="float:left;">Very Sad</p><p style="float:right;">Very Happy</p>
                <div class="range">
                        <input type="range" step="1" min="0" max="10" value="0" class="slider" id="audio4" name="audio4">
                        <div class="sliderticks">
                            <p>0</p><p>1</p><p>2</p><p>3</p><p>4</p><p>5</p><p>6</p><p>7</p><p>8</p><p>9</p><p>10</p>
                        </div>
                </div><br><br>
                <h3>Sample 5</h3>
                <audio controls>
                    <source src="/songs/somberSample.mp3" type="audio/mpeg">
                  Your browser does not support the audio element.
                  </audio>
                  <br><br>
                <p style="float:left;">Very Sad</p><p style="float:right;">Very Happy</p>
                <div class="range">
                        <input type="range" step="1" min="0" max="10" value="0" class="slider" id="audio5" name="audio5">
                        <div class="sliderticks">
                            <p>0</p><p>1</p><p>2</p><p>3</p><p>4</p><p>5</p><p>6</p><p>7</p><p>8</p><p>9</p><p>10</p>
                        </div>
                </div><br><br>
                
                <input type="button" class="mybutton" value="Begin!" onclick="selectMusic()">
            </form>
            
        </div>
    </div>
    <div id="myProgressOwner"  style="display:none;">
        
        <div id="myProgress" style="width:30%; margin:0 auto;">
            <div id="myBar"></div>
        </div>
    </div>
    

    <div id="cap" style="width:50%; position:fixed; left:30%; height:1900px;">

        <p id="title"></p>
        
        <br>
        <br>
        <!--<form id="survey1" class="survey1" action="/addMain" method="post" style="display: none;" name="myForm">-->
        <form id="survey1" class="survey1"  method="post" style="display: none;" name="myForm" action="/UpdateMain/<%= mainData[0].userID%>">
            <h1>Time has run out. Please complete the following survey regarding your experience.</h1><br><br>
            <input type="hidden" id="allA" name="allA"></input>
            <input type="hidden" id="allC" name="allC"></input>
            <input type="hidden" id="labelA" name="labelA"></input>
            <input type="hidden" id="labelC" name="labelC"></input>
            <input type="hidden" id="findWrongA" name="findWrongA"></input>
            <input type="hidden" id="findWrongC" name="findWrongC"></input>
            <input type="hidden" id="typeWordsA" name="typeWordsA"></input>
            <input type="hidden" id="typeWordsC" name="typeWordsC"></input>
            <input type="hidden" id="findImageA" name="findImageA"></input>
            <input type="hidden" id="findImageC" name="findImageC"></input>
            <input type="hidden" id="wrongWordA" name="wrongWordA"></input>
            <input type="hidden" id="wrongWordC" name="wrongWordC"></input>
            <input type="hidden" id="descOthersA" name="descOthersA"></input>
            <input type="hidden" id="descOthersC" name="descOthersC"></input>
            <input type="hidden" id="connectsA" name="connectsA"></input>
            <input type="hidden" id="connectsC" name="connectsC"></input>
            <input type="hidden" id="belongsA" name="belongsA"></input>
            <input type="hidden" id="belongsC" name="belongsC"></input>
            <input type="hidden" id="specificA" name="specificA"></input>
            <input type="hidden" id="specificC" name="specificC"></input>
            <input type="hidden" id="noPatternA" name="noPatternA"></input>
            <input type="hidden" id="noPatternC" name="noPatternC"></input>
            <input type="hidden" id="findPatternA" name="findPatternA"></input>
            <input type="hidden" id="findPatternC" name="findPatternC"></input>
            <input type="hidden" id="finishWordA" name="finishWordA"></input>
            <input type="hidden" id="finishWordC" name="finishWordC"></input>
            <input type="hidden" id="avgResTime" name="avgResTime"></input>
            <input type="hidden" id="leverTested" name="leverTested"></input>
            <input type="hidden" id="musicPlayed" name="musicPlayed"></input>

            
            <h4>Enter the number of minutes you think probably passed. </h4>
            <label>The task you just participated in was set to run for a random amount of time.
                Please indicate the number of minutes you think passed as you answered the questions. Do not try to 
                calculate the elapsed time.   
            </label><br><br>
            <div class="range">
                <input type="range" step=".1" min="0" max="15" value="0" class="slider" id="timeEstimate" name="timeEstimate">
                <div class="sliderticks">
                    <p>0</p>
                    <p>1</p>
                    <p>2</p>
                    <p>3</p>
                    <p>4</p>
                    <p>5</p>
                    <p>6</p>
                    <p>7</p>
                    <p>8</p>
                    <p>9</p>
                    <p>10</p>
                    <p>11</p>
                    <p>12</p>
                    <p>13</p>
                    <p>14</p>
                    <p>15</p>

                </div>
            </div>
            <br>
            <br><br>

            <h4>How quickly did the time seem to pass for you during the tasks?</h4>            
            <input type="radio" id="timeFeel" name="timeFeel" value="1"> Very Slowly<br>
            <input type="radio" id="timeFeel" name="timeFeel" value="2"> Somewhat Slowly<br>
            <input type="radio" id="timeFeel" name="timeFeel" value="3"> Normal<br>
            <input type="radio" id="timeFeel" name="timeFeel" value="4"> Somewhat Quickly<br>
            <input type="radio" id="timeFeel" name="timeFeel" value="5"> Very Quickly<br>
            <br>
            <br>

            <h4>How much pressure did you feel to answer the questions quickly?</h4>
                <div class="range">
                <input type="range" step="1" min="1" max="5" value="1" class="slider" id="timePressure" name="timePressure">
                    <div class="sliderticks">
                        <p>No Pressure</p>
                        <p>2</p>
                        <p>3</p>
                        <p>4</p>
                        <p>Extreme Pressure</p>
                        
                    </div>
                </div><br><br><br>
           
            <div style = "margin:0 auto; border: 1px solid grey; padding: 65px;">
                <h3>
                    To what extent do you feel the task…
                </h3>
                <h4>kept you aware of the time passing:</h4>
                <div class="range">
                <input type="range" step="1" min="1" max="5" value="1" class="slider" id="timeAwareness" name="timeAwareness">
                    <div class="sliderticks">
                        <p>Completely Unaware</p>
                        <p>2</p>
                        <p>3</p>
                        <p>4</p>
                        <p>Very Aware</p>
            
                    </div>
                </div>
        
                <h4>kept you engaged in the current task:</h4>
                <div class="range">
                <input type="range" step="1" min="1" max="5" value="1" class="slider" id="engaging" name="engaging">
                    <div class="sliderticks">
                        <p>Unengaged</p>
                        <p>2</p>
                        <p>3</p>
                        <p>4</p>
                        <p>Very Engaged</p>
                        
                    </div>
                </div>

                <h4>provided a positive, motivating experience:</h4>
                <div class="range">
                <input type="range" step="1" min="1" max="5" value="1" class="slider" id="motivating" name="motivating">
                    <div class="sliderticks">
                        <p>Not motivating</p>
                        <p>2</p>
                        <p>3</p>
                        <p>4</p>
                        <p>Highly motivating</p>
                        
                    </div>
                </div>

                <h4>was habit forming, or repetitive, to the point of automatic behavior:</h4>
                <div class="range">
                <input type="range" step="1" min="1" max="5" value="1" class="slider" id="repetitive" name="repetitive">
                    <div class="sliderticks">
                        <p>No repetition</p>
                        <p>2</p>
                        <p>3</p>
                        <p>4</p>
                        <p>Extremly repetitive</p>
                    </div>
                </div>
            </div>
            <br>
            <br>

            <h4>How distracted were you during the tasks? </h4>
                <div class="range">
                <input type="range" step="1" min="1" max="5" value="1" class="slider" id="distraction" name="distraction">
                    <div class="sliderticks">
                        <p>Very focused</p>
                        <p>2</p>
                        <p>3</p>
                        <p>4</p>
                        <p>Very Distracted</p>
                       
                    </div>
                </div>
                <br><br>

            <h4>Please rate your general emotional state throughout the tasks as being very negative (sad, angry, or highly stressed) or very positive (happy, joyful, pleasant): </h4><br><br>
            <div class="range">
            <input type="range" step="1" min="1" max="5" value="1" class="slider" id="emotion" name="emotion">
                <div class="sliderticks">
                    <p>Very Negative</p>
                    <p>2</p>
                    <p>3</p>
                    <p>4</p>
                    <p>Very Positive</p>
                   
                </div>
            </div>
            <br>
            <br>
            <div id="musicQuestion">
                <h4>Please rate how the music affected you emotionally.</h4><br><br>
                <div class="range">
                <input type="range" step="1" min="1" max="5" value="1" class="slider" id="musicAffect" name="musicAffect">
                    <div class="sliderticks">
                        <p>Very Negatively</p>
                        <p>2</p>
                        <p>3</p>
                        <p>4</p>
                        <p>Very Positively</p>
                    </div>
                </div>
                <br>
                <br>
            </div>

            <!--Additional levers and questions-->
            <h4>How loud did you feel the music was?</h4>            
            <input type="radio" id="volume" name="volume" value="1"> Too quiet<br>
            <input type="radio" id="volume" name="volume" value="2"> Fairly quiet<br>
            <input type="radio" id="volume" name="volume" value="3"> Normal<br>
            <input type="radio" id="volume" name="volume" value="4"> Fairly loud<br>
            <input type="radio" id="volume" name="volume" value="5"> Too Loud<br>
            <br>
            <br>


            <div id="enjoyment">
                <h4>How much did you enjoy completing the tasks?</h4><br><br>
                <div class="range">
                <input type="range" step="1" min="1" max="5" value="1" class="slider" id="enjoyment" name="enjoyment">
                    <div class="sliderticks">
                        <p>Very little</p>
                        <p>2</p>
                        <p>3</p>
                        <p>4</p>
                        <p>Very much</p>
                    </div>
                </div>
                <br>
                <br>
            </div>

            <h4>How much anxiety did you experience while completing the tasks?</h4>            
            <input type="radio" id="anxiety" name="anxiety" value="1"> None at all<br>
            <input type="radio" id="anxiety" name="anxiety" value="2"> A small amount<br>
            <input type="radio" id="anxiety" name="anxiety" value="3"> A large amount<br>
            <input type="radio" id="anxiety" name="anxiety" value="4"> Extreme anxiety<br>
            <br>
            <br>

            <div id="challenge">
                <h4>How challenging did you find the tasks?</h4><br><br>
                <div class="range">
                <input type="range" step="1" min="1" max="5" value="1" class="slider" id="challenge" name="challenge">
                    <div class="sliderticks">
                        <p>Not challenging</p>
                        <p>2</p>
                        <p>3</p>
                        <p>4</p>
                        <p>Very challenging</p>
                    </div>
                </div>
                <br>
                <br>
            </div>

            <div id="comfort">
                <h4>How physically comfortable were you during the experiment (tempurature, sitting position, lighting)?</h4><br><br>
                <div class="range">
                <input type="range" step="1" min="1" max="5" value="1" class="slider" id="comfort" name="comfort">
                    <div class="sliderticks">
                        <p>Very uncomfortable</p>
                        <p>2</p>
                        <p>3</p>
                        <p>4</p>
                        <p>Very comfortable</p>
                    </div>
                </div>
                <br>
                <br>
            </div>

            <div id="recentExp">
                <h4>I have recently engaged in tasks similar to these to the following extent:</h4><br><br>
                <div class="range">
                <input type="range" step="1" min="1" max="5" value="1" class="slider" id="recentExp" name="recentExp">
                    <div class="sliderticks">
                        <p>None</p>
                        <p>2</p>
                        <p>3</p>
                        <p>4</p>
                        <p>A lot</p>
                    </div>
                </div>
                <br>
                <br>
            </div>


            <label>Please select your education level.</label>
            <br>
            <select id="educationLevel" name="educationLevel">
                <option value="" selected="selected" disabled="disabled">-- select one --</option>
                <option value="No formal education">No formal education</option>
                <option value="Primary education">Primary education</option>
                <option value="Secondary education">Secondary education or high school</option>
                <option value="GED">GED</option>
                <option value="Vocational qualification">Vocational qualification</option>
                <option value="Bachelor's degree">Bachelor's degree</option>
                <option value="Master's degree">Master's degree</option>
                <option value="Doctorate or higher">Doctorate or higher</option>
                </select>
            <br><br><br>

            <label>Please indicate your marital status.</label>
            <br>
            <select id="maritalStatus" name="maritalStatus">
                <option value="" selected="selected" disabled="disabled">-- select one --</option>
                <option value="married">Married</option>
                <option value="not married">Not Married</option>
                <option value="divorced">Divorced</option>
                <option value="engaged">Engaged</option>
                <option value="widowed">Widowed</option>
                <option value="seperated">Seperated</option>
                </select>
            <br><br><br>




            <label>Please indicate your gender.</label>
            <br>
            <input type="radio" id="gender" name="gender" value="male"> Male</input><br>
            <input type="radio" id="gender" name="gender" value="female"> Female</input><br>
            <input type="radio" id="gender" name="gender" value="other"> Other</input>
            <br><br>
            <br>

            <label>Please indicate your age.</label>
            <br>
            <input type="number" id="age" name="age">
            <br>
            <br><br>

            
            <button type="submit" class="mybutton" value="Submit">Submit</button><br><br>
        
        </form>
        
    </div>
    <div id='wholeGame' style="display: none; height:900px; margin-left:35px; position:fixed; left:60%; width:40%;">
        <div id="gameCover" style="display:hidden; ">
            <h3 style="text-align: center;" id="gameBar">XP: 
            </h3>
        </div>

        <div id="mBoard" style="margin-top:15px; display:initial;">
            <h3 id="messageBoard" >Leaderboard - Top 10</h3>
            <table>
                <tr>
                    <th>Ranking</th>
                    <th>Nickname</th>
                    <th>XP</th>
       
                </tr>
                <tr>
                    <td id="r1">1</td>
                    <td id="n1"></td>
                    <td id="s1"></td>
                </tr>
                <tr>
                    <td id="r2">2</td>
                    <td id="n2"></td>
                    <td id="s2"></td>
                </tr>
                <tr>
                    <td id="r3">3</td>
                    <td id="n3"></td>
                    <td id="s3"></td>
                </tr>
                <tr>
                    <td id="r4">4</td>
                    <td id="n4"></td>
                    <td id="s4"></td>
                </tr>
                <tr>
                    <td id="r5">5</td>
                    <td id="n5"></td>
                    <td id="s5"></td>
                </tr>
                <tr>
                    <td id="r6">6</td>
                    <td id="n6"></td>
                    <td id="s6"></td>
                </tr>
                <tr>
                    <td id="r7">7</td>
                    <td id="n7"></td>
                    <td id="s7"></td>
                </tr>
                <tr>
                    <td id="r8">8</td>
                    <td id="n8"></td>
                    <td id="s8"></td>
                </tr>
                <tr>
                    <td id="r9">9</td>
                    <td id="n9"></td>
                    <td id="s9"></td>
                </tr>
                <tr>
                    <td id="r10">10</td>
                    <td id="n10"></td>
                    <td id="s10"></td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div id="snackbar"></div>
<link rel="stylesheet" href="/Content/style.css">
<script type="text/javascript" src="/captcha.js"></script>

</body>
</html>