<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Start Page</title>
    <style>
    body{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    </style>
</head>
<body>

        <div id="iMain" style="width:60%; margin:0 auto;" >
                <h1>Instructions</h1><br>
                <p>
                    The following experiment will require you to answer several questions.
                     Once you click start please
                    <strong>do not refresh the page or press "back" at any point</strong> as refreshing will cause problems with the experiment. 
                     Your privacy will be maintained and the website will not record any of your personal information, so please answer all of the questions to the best of your ability.
                    Answers will be recorded and checked for accuracy. 
                    <br><br>At a certain point in the experiment the questions will stop and you will be automatically
                    redirected to a survey. Again, your personal information will not be recorded, so please answer the survey questions honestly.
                </p>
                <br>
            <form id="survey1" class="survey1" action="/captchaStart" method="post"  name="myForm">
                <input style='float:right;' type="submit" class="myButton" id="start" value="Begin >>">
            </form> 
        </div>
</body>
</html>