<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Start Page</title>
    <style>
    body{
        font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
            color:#4a4a4a;
            font-weight: 400;
            background-color: white;    }
    .mybutton {
    background-color: #e7e7e7; 
    color: black;    
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    }
.mybutton:hover {
    background-color:#d3d3d3;
}
.mybutton:active{
    background-color: white;
}

    </style>
</head>
<body>

        <div id="iMain" style="width:60%; margin:0 auto;" >
                <h1 style="text-align: center;">Instructions</h1><br>
                <h3><strong>Please move to an area or room where you will not be distracted from answering the questions.</strong></h3><br><br>
                <p>
                    The following experiment will require you to answer several captcha-like questions.
                     Once you click start please
                    <strong>do not refresh the page or press the "back" button at any point</strong> as refreshing will cause problems with the experiment. 
                     <br><br>Your privacy will be maintained and while the website will request your BYU ID number at some point, your responses will remain private and will be recorded separately, so please answer all of the questions to the best of your ability.
                    Answers will be monitored and checked for accuracy. 
                    <br><br>At a certain point in the experiment the questions will stop and you will be automatically
                    redirected to a survey. Again, your privacy will be maintained, so please answer the survey questions honestly.
                    <br><br>
                    
                </p>
                <br>
            <form id="survey1" class="survey1" action="/captchaStart" method="post"  name="myForm">
                <input style='float:right;' type="submit" class="mybutton" id="start" value="Start">
            </form> 
        </div>
        <script>
            //verify adequate screen size
            if(window.innerWidth < 700)
            {
                document.getElementById("iMain").innerHTML = "Please use a monitor or laptop screen to complete this experiment. " 
                 + "Tablets and phones will not work.";
            }
        </script>
</body>
</html>