<!DOCTYPE html>
<html>

<head>
   <title>Update Song</title>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.css" />
   <link href="stylesheets/style.css" rel="stylesheet">
</head>

<body>
   <form action="/UpdateSong/<%= mainData[0].userID%>" method = "post">
      <label>How much time do you think passed from when you clicked “Start” until now? Round to the nearest minute.</label>
            
      <br>
      <input id="timeEstimate" type="number" name="timeEstimate">
      <br>
      <br>

      <label>Would you say time felt like it was passing quickly or slowly (with 1 being slow and 5 being fast)?</label>
      <br>
      <br>
      Very Slow <input type="range" id="timeFeel" name="timeFeel" min="1" max="5" oninput="document.getElementById('rangeValLabel').innerHTML = this.value;"> Very Fast
      (<em id="rangeValLabel" style="font-style: normal;">3</em>)
      <br>
      <br>
        <input type="submit" value="Update">
   </form>

</body>

</html>